body,
html {
    direction: rtl;
    margin: 0;
    padding: 0;
    /*font-family: 'OpenSans', serif;*/
    font-family: OpenSansHebrew, serif;
    font-size: 15px;
    color: #16254f;

}

/* SECTION ONE */
.outer-area {
    margin:2.67rem 4.54rem 4.27rem 4rem;
}
.inner-area {
    padding:1.13rem 0  2.6rem 0;
}
.inner-title {
    margin-bottom: 3.14rem;
}
.main-title {
    margin-bottom:2.46rem;
}
/* END SECTION ONE */

/* SECTION TWO */
#section-two.inner-area {
    padding: 17px 24px 43px;
}
/* END SECTION TWO */

/* SIDEBAR */
.sidebar-menu {

    height:2157px;
    min-width: 168px;
}
.accessibility {
    transform: scaleX(-1);
}
.side-icon-space {
    margin: 33px 0;
}
.side-icon-space:hover {
    fill: #3db5ef;
}
/* END SIDEBAR */


#main-content h1{
    font-size:2.13rem;
}
#main-content .size-20{
    font-size:1.33rem;

}
#main-content .size-18{
    font-size:1.2rem;

}
#main-content .size-32{
    font-size:2.13rem;

}
.hasifa-copy-2 {
    width: 32px;
}

@media screen and (min-width: 576px) {
    .hasifa-copy-2 {
        width: 38px;
    }


}

@media screen and (min-width: 992px) {
    .hasifa-copy-2 {
        width: 52px;
    }
}

#main-content .inner-text {
    line-height: 1.15;
}
#main-content .border-left,
#main-content .border-right {
    border-left: 2px solid #d8d8d8!important;
    border-right: 2px solid #d8d8d8!important;
}
#main-content a {
    /*font-weight: bold;*/
    color: #fff;
    text-decoration: none;
}
#main-content a:hover {
    color: #3db5ef;
}
#main-content .update-card {
    color: #ff4960;
}
form {
    position: relative;
}
.search-box {
    width:233px;
}
.search-icon {
    position: absolute;
    left: 15px;
    top:7px;
    background-image: url(../img/glass-copy.svg);
    width:15px;
    height:15px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
}
.chevron-down {
    transform: rotate(-90deg);
}

.card {
    width:104px;
    height:90px;
}
.card > img {
    width:48px;
}
.card.long{
    width:223px;
    height:90px;
}

/*Ads SECTION CARDS */
.ads {
    margin-right:10px;
}
.ads img {
    width: 40px;
    position: absolute;
    top: -20px;
    left: 115px;
}
.card-link {
    color: #ff4960!important;
}


 /*Extra small devices (portrait phones, less than 576px)*/
@media screen and (max-width: 575.98px) {
    .sidebar-menu {
        display:none;
    }
}

 /*Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 576px) and (max-width: 767.98px) {
    .sidebar-menu {
        display:none;
    }
    .long {
        order:9;
    }
}

 /*Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) and (max-width: 991.98px) {

}

 /*Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) and (max-width: 1199.98px) {

}

 /*Extra large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 1200px) {

}

.Rectangle-3-Copy-6 {
    color: #fff;
    width: 136px;
    height: 32px;
    border-radius: 20px;
    box-shadow: 2px 2px 6px 0 rgba(63, 63, 63, 0.5);
    background-image: linear-gradient(to right, #ff495c 0%, #ff692f 100%);
    position: absolute;
    top: 75px;
    left: 70px;
    padding: 4px;
    text-align: center;
}
.progress-blue {
    width: 80px;
    height: 10px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #42a3ff 0%, #90ebff 100%);
}
