@font-face {
    font-family: OpenSansHebrew;
    src: url('../fonts/opensanshebrew-light.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'OpenSansHebrew';
    src: url('../fonts/opensanshebrew-regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'OpenSansHebrew';
    src: url('../fonts/opensanshebrew-bold.ttf') format('truetype');
    font-weight: bold;
}
:root {
    --watermelon: #ff495c;
    --pinkish-orange:#ff692f;
}

body,
html {
    direction: rtl;
    margin: 0;
    padding: 0;
    /*font-family: 'OpenSans', serif;*/
    font-family: OpenSansHebrew, serif;
    font-size: 15px;
    color: #16254f;

}

/* HEADER */

form {
    position: relative;
}
.search-box {
    width:233px;
}
.search-icon {
    position: absolute;
    left: 15px;
    top:12px;
    background-image: url(../img/glass-copy.svg);
    width:15px;
    height:15px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
}
.chevron-down {
    transform: rotate(-90deg);
    width: 16px;
}


/* SECTION ONE */
.outer-area {
    margin:2.67rem 4.54rem 4.27rem 4rem;
}
.inner-area {
    padding:1.13rem 0  2.6rem 0;
}
.inner-title {
    margin-bottom: 3.14rem;
}
.main-title {
    margin-bottom:2.46rem;
}



/* SECTION TWO */
#section-two.inner-area {
    padding: 17px 24px 43px;
}

.small-card {
    width:104px;
    height:90px;
}

.small-card.long{
    width:223px;
    height:90px;
}




/* SIDEBAR */
#side-bar a {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
#side-bar a:hover {
    color:#3db5ef;
}
.sidebar-menu {

    height:2157px;
    min-width: 168px;
}
.accessibility {
    transform: scaleX(-1);
}
.side-icon-space {
    margin: 33px 0;
}




/* MAIN CONTENT */

#main-content h1{
    font-size:2.13rem;
}
#main-content .size-20{
    font-size:1.33rem;

}
#main-content .size-18{
    font-size:1.2rem;

}
#main-content .size-32{
    font-size:2.13rem;
    font-weight: lighter;
}
.budget-icon {
    width:52px;
}

/* MORE PUBLISHING OPTION */

.plus {
    position: relative;
    bottom: 14px;
}



#main-content .inner-text {
    line-height: 1.15;
}


/*#main-content a:hover {*/
/*    color: #3db5ef;*/
/*}*/
#main-content .update-card {
    color: #ff4960;
}





    /* ADs SECTION CARDS */

.card-link {
    color: #ff4960!important;
}
.outer-card-link {
    color: #16254f;
}



 /* MEDIA QUERY */

 /*Extra small devices (portrait phones, less than 576px)*/
@media screen and (max-width: 575.98px) {
    .business-card {
        justify-content:center!important;
    }
    .card-group {
        flex-direction: row;
        justify-content: center;
    }
    .budget-body {
        display: inline!important;
    }
    .business-group {
        flex-direction: column;
        text-align:center;
    }
    .border-left {
        border-left:none!important;
    }
}

 /*Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 576px) and (max-width: 767.98px) {
    /*.small-card {*/
    /*    width: 84px;*/
    /*    height: 74px;*/
    /*}*/
    /*.small-card.long {*/
    /*    width:182px;*/
    /*    height:74px*/
    /*}*/
    /*.card.publish {*/
    /*    color:blue;*/
    /*    width: 304px;*/
    /*    height: 76px;*/
    /*}*/
    .ads img {
        width: 24px;
        position: absolute;
        top: -7px;
        left: 274px;
    }

    .business-group {
        flex-direction: column;
        text-align:center;
    }
    .border-left {
        border-left:none!important;
    }


}

 /*Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .business-group {
        flex-direction: column;

    }
    .business-card {
        justify-content: center;
    }
    .business-item {
        border-left: 2px solid #d8d8d8!important;
    }
    .long {
        order:8;
    }
    .business-group {
        flex-direction: row;
        text-align:center;
    }
    .border-left {
        /*border-left:none!important;*/
    }
}

 /*Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    .business-item {
        border-left: 2px solid #d8d8d8!important;
    }
    .business-group {
        flex-direction: column;

    }
    .business-group {
        flex-direction: row;
        text-align:center;
    }

}

 /*Extra large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 1200px) {
    .business-item {
        border-left: 2px solid #d8d8d8!important;
    }
}





.Rectangle-3-Copy-6 {
    color: #fff;
    width: 136px;
    height: 32px;
    border-radius: 20px;
    box-shadow: 2px 2px 6px 0 rgba(63, 63, 63, 0.5);
    background-image: linear-gradient(to right, #ff495c 0%, #ff692f 100%);
    position: absolute;
    top: 75px;
    left: 70px;
    padding: 4px;
    text-align: center;
}
.progress-blue {
    width: 80px;
    height: 10px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #42a3ff 0%, #90ebff 100%);
}
